* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
  }
  
  .container {
    width: 1024px;
    height: 100%;
    margin: 0 auto;
  }
  
  :root {
    --darker-main-color: #1F2937;
  }
  
  /* Header part */
  
  #header {
    display: flex;
    justify-content: center;
    background-color: var(--darker-main-color);
    padding: 10px 0;
  }
  
  #header div {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
  }
  
  #header div h1 {
    min-width: fit-content;
    flex: 1;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900 !important; 
  }
  
  #header div ul {
    flex: 3;
    display: flex;
    justify-content: end;
    color: #E5E7EB;
    font-size: 18px;
  }
  
  #header div ul li {
    margin-left: 25px;
  }
  
  
  
  .hdr-logo {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .icon {
    width: 20px;
    height: 20px;
    background-color: red;
  }