* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
}

:root {
  --darker-main-color: #1f2937;
}

.up-container {
  display: flex;
  justify-content: center;
}
.column-container {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  padding: 150px;
  /* align-content: center; */
  /* justify-content: center; */
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
}

/* Header part */

#header {
  background-color: var(--darker-main-color);
  display: flex;
  justify-content: center;
  padding: 10px 0;
  position: fixed;
  width: 100vw;
}

#logo {
  height: 25px;
  margin-right: 5px;
}

#header div div,
header div a {
  align-items: center;
  cursor: pointer;
  display: flex;
}

#header div a h1 {
  color: #f9faf8;
  flex: 1;
  font-size: 24px;
  font-weight: 900;
  min-width: fit-content;
}

#header div ul {
  display: flex;
  flex: 3;
  font-size: 18px;
  justify-content: end;
}

#header div ul li {
  cursor: pointer;
  margin-left: 25px;
}

#header div ul li a {
  text-decoration: none;
  color: #e5e7eb;
}

/* Footer part */

footer {
  display: flex;
  justify-content: center;
  background-color: var(--darker-main-color);
  color: #e5e7eb;
  padding: 25px 0;
  margin-top: 100px;
}
tickets-wrapper {
  display: flex;
}
.tickets-item {
  color: #e5e7eb;
}
